- var myhttp = "http://localhost:3000"
link(rel="stylesheet",type="text/css",href=myhttp+"/css/main.css")
#header
 | simple-twitter-client 
 - var mysc = process.env.TWITTER_SCREEN_NAME
 |<a href=#{myhttp+"/us?nm="+mysc}>#{mysc}</a>
 |<a href=#{myhttp}>home</a>
 |<a href=#{myhttp+"/lm"}>limit</a>
 |<a href=#{myhttp+"/tr"}>trend</a>
 | _____________________________________ v1.0.1 at 2018/5/30 <br>
 input(type='text' size=100 id="idtext" autocomplete="on") 
 input(type='button' onclick="clicked()" value="検索" width=60 height=20) 
 input(type='hidden' size=2)
 input(type='button' onclick="tweet()" value="ｔｗ" width=60 height=20)
 input(type='hidden' size=4)
 |<br>
 |<label>検索option</label>
 input(type='checkbox' onclick="scset()" )
 |<label>retweet</label>
 input(type='checkbox' onclick="scsince()" )
 |<label>since</label>
 input(type='checkbox' onclick="scuntil()" )
 |<label>until</label>
 input(type='checkbox' onclick="scfilter()" )
 |<label>filter</label>
#header2
 <br>
script.
    function clicked() {
    idtextc = document.getElementById('idtext');
    enc = encodeURIComponent(idtext.value);
    location.href='http://localhost:3000/sc?q='+enc;
    }
script.
   function tweet() {
   console.log("tweet!");
   idtext = document.getElementById('idtext');
   location.href='http://localhost:3000/tw?q='+idtext.value;
   }
  
   function scset() {
    idtext = document.getElementById('idtext');
    idtext.value = idtext.value + " min_retweets:1000";
   }
  
   function scsince() {
    nn = new Date();
    mon = nn.getMonth() + 1;
    tm = nn.getFullYear() + "-" + mon + "-" + nn.getDate();
    idtext = document.getElementById('idtext');
    idtext.value = idtext.value + " since:" + tm;
   }
  
   function scuntil() {
    nn = new Date();
    mon = nn.getMonth() + 1;
    tm = nn.getFullYear() + "-" + mon + "-" + nn.getDate();
    idtext = document.getElementById('idtext');
    idtext.value = idtext.value + " until:" + tm;
   }
  
   function scfilter() {
    idtext = document.getElementById('idtext');
    idtext.value = idtext.value + " filter:images";
   }
