table(class="type02")
  thead
    tr
      th no
      th screen_name
      th name
      th create
      th tweets
      th tw/day
      th last tweets
      th follow
      th follower
      th listed
      th location          
  tbody
    - for (var i=0;i<mem.length;i++) {
        tr
          td #{i+icnt}
          -var sc = mem[i].screen_name
          td <a href=#{myhttp+"/us?nm="+sc}>#{sc}</a>
          td <a href=#{myhttp+"/tl?nm="+sc+"&sp=1"}>#{mem[i].name}</a>
          - now = new Date();
          - tm = new Date(mem[i].created_at).toLocaleString();
          - days = Math.floor((now.getTime() - Date.parse(tm)) / (24 * 60 * 60 * 1000));
          td #{new Date(mem[i].created_at).toISOString().substr(0,10)}
          td(align="right") #{mem[i].statuses_count}
          td(align="right") #{(mem[i].statuses_count/days).toFixed(1)}
          if(mem[i].status)
            - tm2 = new Date(mem[i].status.created_at).toISOString();
            td(align="right") #{tm2.substr(0,10)}
          else
            td
          td(align="right") <a href=#{myhttp+"/fr?nm="+sc+"&cnt=0"}>#{mem[i].friends_count}</a>
          td(align="right") #{mem[i].followers_count}
          td(align="right") <a href=#{myhttp+"/listed?nm="+sc}>#{mem[i].listed_count}</a>
          td #{mem[i].location.substr(0,15)}
    - }