//- user&home time
//-
mixin setTd(i,tw)
  - var sc = tw[i].user.screen_name
  - var tm = new Date(tw[i].created_at).toLocaleString("ja-JP")
  td <img src=#{tw[i].user.profile_image_url} width=32 height=32>
  td(width="500") 
    #{i} --#{tm} @<a href=#{myhttp+"/us?nm="+sc}>#{sc}</a>
    <a href=#{myhttp+"/tl?nm="+sc}>#{tw[i].user.name}</a><br>
    - var id = tw[i].id_str
    != photo(tw[i].extended_entities)
    !=  linktxt(tw[i].text,myhttp,myhttp)
    |&nbsp

    //返信ボタンの設定
    |<a href=#{"https://twitter.com/intent/tweet?in_reply_to=" + id} target="_blank">
    |<img src=#{myhttp+"/img/res.png"} width=14 align='bottom'>
    </a>

    //リツイートボタンの表示
    <a href=#{myhttp+"/prt?id="+id}>
    <img src=#{myhttp+"/img/re3.png"} width=14 align='bottom'>
    </a>&nbsp

    //これがリツイートだったら、リツイートのre:xxを表示
    if tw[i].retweeted_status
      - var idr = tw[i].retweeted_status.id_str
      <a href=#{myhttp+"/rtg?rt="+idr}> re:#{tw[i].retweet_count}</a>
    else if (tw[i].retweet_count > 0 )
      <a href=#{myhttp+"/rtg?rt="+id}> re:#{tw[i].retweet_count}</a>



html
  head
   title s-twitter(homeline)
  body
    include includes/head.pug
    
    #11 --- time line <a href=#{myhttp+"/tl?nm="+name+"&sp=1"}>to time表示</a>
    table(class="type02")
      tbody
        - for (var i=0 ;i<tw.length/2 ; i=i+2) {
            tr
              +setTd(i,tw)

              +setTd(i+1,tw)
        - }

    script
      - 
        function linktxt(txt,urls,myhttp) {
        text2 = ""  
        text2 = txt.replace(/(https:[/.\w]+)/g,"<a href='$1' target='_blank'>$1</a>")
        text2 = text2.replace(/@(\w+):/,"<a href="+myhttp+"/us?nm=$1>@$1:</a>")
        if (urls!=undefine && urls.media!=undefine) { 
           text2 = text2+"<img src="+urls.media[0].media_url_https+" width=100,height=50>" 
        }
        return text2               
        }

       function ret(idm){
        rr = myhttp + '/prt?id=' +idm;
        location.href(rr);
       }

       function photo(urls) {
        if (urls!=undefine && urls.media!=undefine) { 
          text2="" 
          img = "<img src="+urls.media[0].media_url_https+" height=100 align='right'>'" 
          text2 = "<a href="+urls.media[0].media_url_https+" target='_blank'>"+img+"</a>"
          return text2 
        }
        return ""               
       }

  
