//- user&home time
//-
html
  include includes/head.pug
  #11 --- time line 
  table(border=1 style="border-collapse: collapse;")
    tbody
        - for (var i=0 ;i<tw.length ; i++) {
            tr
                - var sc = tw[i].user.screen_name
                - var tm = new Date(tw[i].created_at).toLocaleString("ja-JP")
                td(style="vertical-align:top;") <img src=#{tw[i].user.profile_image_url} width=32 height=32>
                - var idm = tw[i].id_str
                td #{i} --#{tm} @<a href=#{myhttp+"/tl?nm="+sc+'&sp=1'}>#{sc}</a> <a href=#{myhttp+"/us?nm="+sc}>#{tw[i].user.name}</a><br>
                    !=  linktxt(tw[i].text)
                    |&nbsp
                    if tw[i].retweeted_status
                       - var id = tw[i].retweeted_status.id_str
                       <a href=#{myhttp+"/rt?rt="+id}> re:#{tw[i].retweet_count}</a>&nbsp
                    | <a href=#{myhttp+"/prt?id="+idm}>retweet</a>
        -  }

  script
    - function linktxt(txt) {
    -  return txt.replace(/(https:[/.\w]+)/g,"<a href='$1'>$1</a>")                
    -}