html
  include includes/head.pug
  table
    thead
        tr
          td No
          td screen name
          td list name
          td member count
    tbody
      - for (var i=0;i<tw.lists.length;i++) {
          tr
            td #{i}
            - var sc = tw.lists[i].user.screen_name
            td <a href=#{myhttp+"/us?nm="+sc}>#{sc}</a>
            td #{tw.lists[i].name}
            td #{tw.lists[i].member_count}              
      - }