html
  include includes/head.pug
  -var xx = mem.users
  #11 
  |--- member <a href=#{myhttp+"/fr?nm="+user+"&next="+mem.previous_cursor+"&no="+(no-xx.length)}>back</a>
  | no = #{no}
  |<a href=#{myhttp+"/fr?nm="+user+"&next="+mem.next_cursor+"&no="+xx.length}>next</a>
  table(class="type02")
    thead
      tr
        th no
        th screen_name
        th name          
    tbody
      - for (var i=0;i<xx.length;i++) {
          tr
            td #{i+parseInt(no)}
            -var sc = mem.users[i].screen_name
            td <a href=#{myhttp+"/tl?nm="+sc}>#{sc}</a>
            td <a href=#{myhttp+"/us?nm="+sc}>#{xx[i].name}</a>
      - }