html
  head
    title s-twitter(re-graph)
  body
    include includes/head.pug
    -
     var t1 = new Date(tw[0].created_at)
     var t2 = new Date(tw[tw.length-1].created_at)
     var nw = new Date()
     var twecount = tw.length*60*60*1000/(t1-t2)
     var twc = tw[0].retweeted_status.retweet_count
     var twt = tw[0].retweeted_status.text.substr(0,20)
     var twu = tw[0].retweeted_status.user.screen_name
     var t3 = new Date(tw[0].retweeted_status.created_at)
     var tdays = (nw-t3)/(24*60*60*1000)
     tdays = tdays.toFixed(1)
     var t4 = new Date(tw[tw.length-1].created_at)
     var id = tw[0].retweeted_status.id_str
    #11 ---  retweetgraph 
      |#{tdays}days 経過 
      if twecount > 1000
        |<font color="red">#{(" "+twecount).substr(0,8)}</font>
      else if twecount > 500
        |<font color="green">#{(" "+twecount).substr(0,8)}</font>
      else
        |#{(" "+twecount).substr(0,8)}
      |tweet/時間（現在速度）<br>
      | count=#{twc} 
      |<a href=#{'https://twitter.com/'+twu+'/status/'+tw[0].retweeted_status.id_str} target="_blank">#{twt}</a> 
      |#{t3.toLocaleString().substr(5)}
      | <a href=#{myhttp+"/tl?nm="+twu}>#{twu}</a>
      | <a href=#{myhttp+"/rt?rt="+id}> retweet表示</a>
    #11
      p 取得データは最大80程度なので、80以上のcountはでません。
        | ほぼ、40/5分=500/時間です
    table(class="type02")
      thead
        tr
          th time
          th count
          th graph
      tbody
        //t0は最初の時間
        - var t0 = new Date(tw[0].created_at)
        - for (var i=0;i<20;i++) {
        - var cc = 0
        - for (var j=0;j<tw.length;j++) {
        //   t1はツイートの時間
        -    var t1 = new Date(tw[j].created_at)
        -    var t01 = new Date(tw[0].created_at)
        -    t01 = t01.setMinutes(t0.getMinutes()-(i+1)*5)
        -    var t02 = new Date(tw[0].created_at)
        -    t02 = t02.setMinutes(t0.getMinutes()-(i)*5)
        //-    if (t0.getSeconds()-i*10 > t1.getSeconds()) cc=cc+1  
        -    if ( (t01 < t1) &&  (t02  >= t1 ) ) cc=cc+1  
        - }
        tr
          td #{i*5}分
          td #{cc}
          td #{"+".repeat(cc)}
        - }