html
  include includes/head.pug
  -var t1 = new Date(tw[0].created_at)
  -var t2 = new Date(tw[tw.length-1].created_at)
  -var twecount = tw.length*60*60*1000/(t1-t2)
  #11 retweet status ---- #{(" "+twecount).substr(0,8)} tweet/時間 
  table
    thead
      tr
        td no
        td Date
        td screen_name
        td name          
        td location          
    tbody
      - for (var i=0;i<tw.length;i++) {
          tr
            td #{i}
            td #{new Date(tw[i].created_at).toLocaleString()}
            - var sc = tw[i].user.screen_name
            td <a href="http://localhost:3000/tl?nm=#{sc}">#{sc}</a>
            td <a href="http://localhost:3000/us?nm=#{sc}">#{tw[i].user.name}</a>
            td #{tw[i].user.location.substr(0,15)}
      - }