html
  include includes/head.pug
  -var t1 = new Date(tw[0].created_at)
  -var t2 = new Date(tw[tw.length-1].created_at)
  -var twecount = tw.length*60*60*1000/(t1-t2)
  -var twc = tw[0].retweeted_status.retweet_count
  -var twt = tw[0].retweeted_status.text.substr(0,20)
  -var twu = tw[0].retweeted_status.user.screen_name
  -var t3 = new Date(tw[0].retweeted_status.created_at)
  -var t4 = new Date(tw[tw.length-1].created_at)
  #11 retweet status ----
      if twecount >=1000
        |<font color="red" >#{(" "+twecount).substr(0,8)}</font>
      else if twecount >=500
        |<font color="orange">#{(" "+twecount).substr(0,8)}</font>
      else
        | #{(" "+twecount).substr(0,8)}
      |tweet/時間
      | count=#{twc} #{twt} #{t3.toLocaleString().substr(5)}
      | <a href=#{myhttp+"/tl?nm="+twu}>#{twu}</a>
  table(class="type02")
    thead
      tr
        th no
        th Date
        th screen_name
        th name
        th tweetes
        th follower          
        th location          
    tbody
      - for (var i=0;i<tw.length;i++) {
          tr
            td #{i}
            td #{new Date(tw[i].created_at).toLocaleString().substr(5)}
            - var sc = tw[i].user.screen_name
            td <a href="http://localhost:3000/tl?nm=#{sc}&sp=1">#{sc}</a>
            td <a href="http://localhost:3000/us?nm=#{sc}">#{tw[i].user.name}</a>
            td #{tw[i].user.statuses_count}
            td #{tw[i].user.followers_count}
            td #{tw[i].user.location.substr(0,15)}
      - }