html
  head
  body
    include includes/head.pug
    -var t1 = new Date(tw[0].created_at)
    -var t2 = new Date(tw[tw.length-1].created_at)
    -var twecount = tw.length*60*60*1000/(t1-t2)
    -var twc = tw[0].retweeted_status.retweet_count
    -var twt = tw[0].retweeted_status.text.substr(0,20)
    -var twu = tw[0].retweeted_status.user.screen_name
    -var t3 = new Date(tw[0].retweeted_status.created_at)
    -var t4 = new Date(tw[tw.length-1].created_at)
    -var id = tw[0].retweeted_status.id_str
    #11 ---  retweetgraph 
      |#{(" "+twecount).substr(0,8)}
      |tweet/時間
      | count=#{twc} #{twt} #{t3.toLocaleString().substr(5)}
      | <a href=#{myhttp+"/tl?nm="+twu}>#{twu}</a>
      | <a href=#{myhttp+"/rt?rt="+id}> retweet表示</a>
    table(class="type02")
      thead
        tr
          th time
          th count
          th graph
      tbody
        - var t0 = new Date(tw[0].created_at)
        - for (var i=0;i<15;i++) {
            - var cc = 0
            - for (var j=0;j<tw.length;j++) {
            -    var t1 = new Date(tw[j].created_at)
            //-    if (t0.getSeconds()-i*10 > t1.getSeconds()) cc=cc+1  
            -    if ( (t0.getMinutes()-i*5 < t1.getMinutes()) && (t0.getMinutes()-(i-1)*5 > t1.getMinutes()) ) cc=cc+1  
            - }
        tr
          td #{i*5}分
          td #{cc}
          td #{"+".repeat(cc)}
        - }