//- user show
html
 include includes/head.pug
 #11 --- user --
 table
   tr
     td
        <img src=#{user[0].profile_image_url} width=60 height=60>
     td
       - var tm = new Date(user[0].created_at).toLocaleString("ja-JP")
       - var sc = user[0].screen_name
       #11 #{user[0].screen_name} #{user[0].name} <br>
       |location:#{user[0].location} start at:#{tm}<br>
       |コメント:#{user[0].description}<br>
       if user[0].following
          | follwing:<a href=#{myhttp+"/pfld?nm="+sc}> #{user[0].following}</a>
       else
          | follwing:<a href=#{myhttp+"/pflc?nm="+sc}>#{user[0].following}</a>
       //- var a = "follwing:<a href="+myhttp+"/pfl?nm="+sc">"+user[0].following+"</a>"
       | tweets  :<a href=#{myhttp+"/tl?nm="+sc+"&sp=1"}>#{user[0].statuses_count}</a>
       |favourites:<a href=#{myhttp+"/fv?nm="+sc}>#{user[0].favourites_count}</a>
       |follow  :<a href=#{myhttp+"/fr?nm="+sc+"&no=0"}>#{user[0].friends_count}</a>
       |follower:#{user[0].followers_count}
       - var sc = user[0].screen_name
       |listed  :<a href=#{myhttp+"/listed?nm="+sc}>#{user[0].listed_count}</a>
       #12 protected #{user[0].protected} <a href=#{myhttp+"/pladd?nm="+sc}>mark add</a>
       //  select.sel
       //    option(value="mark") mark
       //    option(value="girl") girl 
       //    option(value="computer") computer
 p list length = #{list.length}
 table(class="type02")
   thead
     tr
       th no
       th screen_name
       th name
       th create_at
       th member
       th subscriber
       th access
   tbody
    - for (var i=0;i<list.length;i++) {
        tr
          td #{i}
          td #{list[i].user.screen_name}
          td #{list[i].name}
          - var tm = new Date(list[0].created_at).toLocaleString()
          td #{tm}
          - var mc = list[i].member_count
          - var sc = list[i].user.screen_name
          - var slg = list[i].slug
          td <a href=#{myhttp+"/listmember?nm="+sc+"&slug="+slg+"&cursor=-1&cnt=0"}>#{mc}<a>
          td #{list[i].subscriber_count}
          td #{list[i].mode}
    - }