//- user show
html
 include includes/head.pug
 table
   tr
     td
        <img src=#{user[0].profile_image_url} width=60 height=60>
     td
       - var tm = new Date(user[0].created_at).toLocaleString("ja-JP")
       - var sc = user[0].screen_name
       p #{user[0].screen_name} #{user[0].name} <br>
       |location:#{user[0].location}<br>
       |start at:#{tm}<br>
       |コメント:#{user[0].description}<br>
       |following:#{user[0].following}
       |tweets  :<a href=#{myhttp+"/tl?nm="+sc}>#{user[0].statuses_count}</a>
       |favourites:#{user[0].favourites_count}
       |follow  :<a href=#{myhttp+"/fr?nm="+sc}>#{user[0].friends_count}</a>
       |follower:#{user[0].followers_count}
       - var sc = user[0].screen_name
       |listed  :<a href=#{myhttp+"/listed?nm="+sc}>#{user[0].listed_count}</a>
 p list length = #{list.length}
 table
   thead
     tr
       td no
       td screen_name
       td name
       td create_at
       td menber
   tbody
    - for (var i=0;i<list.length;i++) {
        tr
          td #{i}
          td #{list[i].user.screen_name}
          td #{list[i].name}
          - var tm = new Date(list[0].created_at).toLocaleString()
          td #{tm}
          - var mc = list[i].member_count
          - var sc = list[i].user.screen_name
          - var slg = list[i].slug
          td <a href=#{myhttp+"/listmember?nm="+sc+"&slug="+slg}>#{mc}<a>
    - }